* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.header-component {
  background-color: black;
  width: 100%;
  color: white;
  height: 700px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .header-component.show {
  background-color: #00adef;
} */

.header-component nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 20px; */

}

.header-component nav .hamburger {
  cursor: pointer;
}
.hamburger-main{
  font-size: 1.5rem;
}



.header-component nav .flixia-logo {
 width: 30%;
 height: 80px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-component nav .nav-plus {
  background-color: white;
  color:black;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: 7px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.header-component nav .nav-plus:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.header-component .header-mid-text {
  position: relative;
  font-size: 3rem;
  margin-top: 120px;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.header-component .header-mid-text.hide {
  z-index: -1;
}


.header-component .header-mid-text .changing-text {
  left: 0%;
  right: 50%;
  color: #fb7145;
  width: 100%;
  top: -60px;
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@keyframes slide-up {
  0% {
     top: -60px;
     opacity: 1;
  }
  100% {
    top:-150px;
    opacity: 0;
  }
}

.header-component .header-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background-color: black;
}
.header-component .header-buttons .see-plans-btn {
  background-color: #00adef;
  height: 80px;
  width: 75%;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.header-component .header-buttons .join-free-btn {
  height: 80px;
  width: 75%;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  margin-top: 20px;
  background-color: inherit;
  border: 4px solid gray;
  color: gray;
  cursor: pointer;
}


/* Menu Component */
.menu-component {
  position: absolute;
  background-color: white;
  color: black;
  left: -1000px;
  /* left: 0; */
  background-color: #00adef;
  /* right: 0; */
  top: 0;
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  transition: all 500ms ease-in-out;
  z-index: 2;
}


.menu-component.show {
  left: 0px;
  right: 0;
  animation: slide-out 600ms linear 0s 1  forwards;
  overflow: hidden;
}

/* @keyframes slide-out {
  0% {
     width: 100%;
  }
  100% {
    width: 0%;
  }
} */


.menu-component .close {
  font-size: 1.8rem;
  cursor: pointer;
}
.menu-component ul li {
  list-style: none;
  margin: 35px 0;
  font-size: 1.4rem;
}
.menu-component ul li:hover {
  color: rebeccapurple;
  cursor: pointer;
}


@media (min-width:950px) {
  
  .menu-component {
    position: static;
    background-color: white;
    color: black;
    left: -1000px;
    /* left: 0; */
    background-color: #00adef;
    /* right: 0; */
    top: 0;
    padding: 20px;
    min-height: 100vh;
    width: 100%;
    transition: all 300ms ease-in-out;
  }
  
}